@{
    ViewData["Title"] = "Search Volunteers";
}
<h2>@ViewData["Welcome!"]</h2>
<h4>@ViewData["Search for a volunteer."]</h4>

<a href="~/Home/AddNewVolunteer" class="Button"><input type='button' value="Add New Volunteer" /></a>

<h4>Please search for a volunteer by name.</h4>
<input type="text" name="VolunteerSearch" size="40" />
<a href="~/Home/VolunteerSearch" class="Button"><input type='button' value="Search" /></a>

