
@{
    ViewData["Title"] = "AddNewVolunteer";
}

<h2>New Volunteer Information</h2>
<h4>Please fill out all fields to add a new volunteer.</h4>
<h5> First Name: <input type="text" name="FN" size="40" /></h5>
<h5> First Last: <input type="text" name="LN" size="40" /></h5>
<h5> Username: <input type="text" name="Username" size="40" /></h5>
<h5> Password: <input type="text" name="Pass" size="40" /></h5>
<h5> Email: <input type="text" name="Email" size="40" /></h5>
<h5> Educational Background: <input type="text" name="Educational Background" size="40" /> </h5>
<h5> Address: <input type="text" name="Address" size="40" /></h5>
<h5> Phone Number: <input type="text" name="Number" size="40" /></h5>
<h5> Skills and Interest: <input type="text" name="Skills" size="40" /></h5>
<h5> Volunteer Status:
    <select>
        <option value="1">Select Status</option>
        <option value="1">Approved</option>
        <option value="2">Pending</option>
        <option value="3">Pending Approval</option>
        <option value="4">Inactive</option>
        <option value="5">Denied</option>
    </select></h5>

<button>Submit</button>
<a href="~/Home/About" class="Button"><input type='button' value="Cancel" /></a>

