
@{
    ViewData["Title"] = "VolunteerProfile";
}

<h2>Volunteer Profile</h2>
<h4>Please verify that all information is correct. Click the Edit button to make changes.</h4>
<h5> First Name: <button>Edit</button></h5>
<h5> First Last: <button>Edit</button></h5>
<h5> Username: <button>Edit</button></h5>
<h5> Password: <button>Edit</button></h5>
<h5> Email: <button>Edit</button></h5>
<h5> Address: <button>Edit</button></h5>
<h5> Phone Number: <button>Edit</button></h5>
<h5> Volunteer Status: <button>Edit</button></h5>

<button>Submit</button>
<a href="~/Home/About" class="Button"><input type='button' value="Cancel" /></a>
<!--When database is impleted the profile of the searched volunteer should appear.-->
