
@{
    ViewData["Title"] = "VolunteerSearch";

}

<h2>Volunteer Search</h2>
<h4>The volunteer search should display the values when the database gets implemented.</h4>
<a href="~/Home/OpportunityMatches" class="Button"><input type='button' value="View Volunteer Opportunity Matches" /></a>
<h4>Click to edit Volunteer Profile.</h4>
<a href="~/Home/VolunteerProfile" class="Button"><input type='button' value="Edit Voluteer Profile" /></a>

