@{
    ViewData["Title"] = "Volunteer Filters";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>@*can't get this page to show up*@
    <input id="Button1" type="button" value="Approved/Pending Approval" /> <br />
    <input id="Button1" type="button" value="Approved" /> <br />
    <input id="Button1" type="button" value="Pending Approval" /> <br />
    <input id="Button1" type="button" value="Disapproved" /> <br />
    <input id="Button1" type="button" value="Inactive" /> <br />
    <input id="Button1" type="button" value="All" /> <br />
</p>

