
@{
    ViewData["Title"] = "AddOpportunity";
}

<h2>AddOpportunity</h2>

<p>Input Opportunity to add: <input id="txtAddOpp" type="text" /> <input id="btnAddOpp" type="button" value="Add Opportunity" /></p>

