@{
    ViewData["Title"] = "Admin Page";
}
<h3>@ViewData["Title"]</h3>
<a href="~/Home/ManageVolunteers" class="Button">Manage Volunteers</a><br />
<a href="~/Home/ManageOpportunities" class="Button">Manage Opportunities</a><br />
<a href=".." class="Button">Log out</a>

