@{
    ViewData["Title"] = "Manage Opportunities";
}
@model List<Opportunity>
<h2>@ViewData["Title"]</h2>

<table border="1">
    <tr>
        <th>Center</th>
        <th>Date</th>
        <th>Edit</th>
        <th>Remove</th>
    </tr>
    @foreach (var oppd in Model)
    {
        <tr>
            <td>@oppd.Center</td>
            <td>@oppd.Date</td>
            <td><input id="Button1" type="button" value="Edit" /></td>
            <td><input id="Button1" type="button" value="Remove" /></td>
        </tr>
    }
</table><br />
<p>
    Opportunity Filter: <select id="Filter">
        <option>Most Recent (60 days)</option>
        <option>By Center</option>
    </select>
</p>
<p>Search: <input id="Search Oppotrunities" type="text" /> <input id="btnSearch" type="button" value="Search" /></p>
<p>View Volunteer Opportunity Matches: <input id="btnMatches" type="button" value="View Volunteer Opportunity Matches" /></p>
<p><a href="~/Home/AddOpportunity" class="Button"><input type='button' value="Add Opportunity" /></a></p>
<a href="~/Home/Admin" class="Button">Back</a>